.logo{
    text-align: center;
}

.titulo{
    background-color: rgb(196,196,196);
    color:rgb(3, 86, 117);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5pt;
    
}

.textoIndentado {
    text-indent: 76px;
}

.subtitulo{
    background-color: rgb(196,196,196);
    color:rgb(3, 86, 117);
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 5pt;  
}

.sinStyle{
    list-style-type:none;
}

.prueba{
    margin:0;

}

.lista{
    font-family: 'Times New Roman', Times, serif;   
}

.piePagina{
    background-color: rgb(3, 86, 117);
    text-align: center;
    color: white;
    border: 5px solid rgb(3, 86, 117) ;
}


    